body {
    position: inherit;
    background-image:url(../img/bocha1.png);
    background-size: cover;
    background-position: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-color: #1a1919;
    overflow-y: scroll;
    font-family: "Work Sans", sans-serif;
}

.barba {
    position: relative;
    top: -115px;
    left: 550px;

}
a {
    font-size: 40px;
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding: 0;
    cursor: pointer;

}

.barba {
    position: relative;
    top: -115px;
    left: 550px;

}
a {
    font-size: 40px;
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding: 0;
    cursor: pointer;

}
h1 {
    font-size: 60px;
    color: white;
    position: relative;
    top: -20px;
    left: 120px;
    }

.container {
    width: 650px;
    height: 680px;
    background-color: white;
    position: relative;
    top: -25px;
    left: 120px;
    display: flex;
    align-items: top;
    height: auto;
    overflow: auto;
    padding: 0 20px;
    border-radius: 22px;
    box-shadow:black;
    scrollbar-shadow-color: #232222;
}

.contenido {
    background-color: white;
    font-size: 17px;
    color: black;

}


footer {
    position: absolute;
    top: auto;
    padding: 10px 20px; 
    height: auto;
    left: 0;
    width: 100%;
    background-color: #1a1919;
    

}

.facebook {
    position: relative;
    width: 110px;
    top: -10px;
    left: 415px;
}

.Twitter {
    position: relative;
    width: 100px;
    top: -10px;
    left: 420px;
}

.Instagram {
    position: relative;
    width: 100px;
    top: -10px;
    left: 435px;
}

.redes { 
    position: relative;
    top: auto;
    left: -310px;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0);
    
}
button :hover {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.40);
}
.contenidoHand{
    background-color: white;
   
    color: black;
    font-size: 24px;


}
.contenidoLanza{
    background-color: white;
   
    color: black;
    font-size: 24px;
}
.contenidoAje{

    background-color: white;
   
    color: black;
    font-size: 24px;

}
.FondoAje{
    background-image:url(../img/ajedres4.png);
    background-size: cover;
    background-position: auto;


}

.FondoHand{
    background-image:url(../img/handball.png);
    background-size: cover;
    background-position: auto;


}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}